* {
  margin: 0;
  padding: 0;
  font-family: "Mali", cursive !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and(max-width: 68.75em) {
    html {
      font-size: 50%;
    }
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-card .ant-card-body {
  padding: 0.5rem 2.4rem;
}
